<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Viinikellari.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="fileLocation" value="C:\Users\Teemu\Desktop\Viinit1.xml"/>
    </appSettings>
<userSettings>
        <Viinikellari.Properties.Settings>
                <setting name="ConnStr" serializeAs="String">
                        <value>Server=eight.labranet.jamk.fi;Database=Viini;User=koodari;Password=koodari13</value>
                </setting>
        </Viinikellari.Properties.Settings>
    </userSettings>
</configuration>